@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root,
body,
html {
  width: 100%;
  
}
@media only screen and (max-width: 760) {
  #root,
  body,
  html {
    width: 100vw;
  }
}

.paginationBttns {
  margin: 50px;
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 5px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: black;
}

.paginationActive a {
  color: white;
  background-color: black;
}

.paginationDisabled a,
.paginationDisabled a:hover {
  color: grey;
  background-color: white;
  cursor: not-allowed;
  border: 1px solid grey;
}
.rec-item-wrapper {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.rec-arrow-right,
.rec-arrow-left {
  color: black !important;
  background-color: white !important;
}
.rec-arrow-right:hover,
.rec-arrow-left:hover {
  color: white !important;
  background-color: grey !important;
}
.rec-dot {
  background-color: white !important;
 
}
.rec-dot_active {
  background-color: rgba(247, 210, 173, 0.5) !important;
  box-shadow: 0 0 1px 2px #514f4d !important;
}
.search::-webkit-scrollbar {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.search::-webkit-scrollbar-thumb {
  background-color: #514f4d;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.searchItem:hover{
  color:grey;
}
.link{
  text-decoration: none;
  color: inherit;
}